{%extends "base.html"%}
{%block content%}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Login</legend>
                <div>
                    {{ form.username.label() }}
                    {{ form.username() }}
                </div>
                <div>
                    {{ form.password.label() }}
                    {{ form.password() }}
                </div>
            </fieldset>
            <button>submit</button>
        </form>

    </div>

{% endblock content %}


